.selected > h5 {
    color: forestgreen;

}
#categoryForm {
    display: none;
}

h5 {
    display: inline-block;
}

[data-target="#myModal"] {
    margin-left: 100px;
}
#successMessage {
    display: none;
}

ul > li {
    color: black;
}
#test {
    position:absolute;
}
