.selected > h5 {
    color: forestgreen;

}
#categoryForm {
    display: none;
}

h5 {
    display: inline-block;
}

[data-target="#myModal"] {
    margin-left: 100px;
}
#successMessage {
    display: none;
}

ul > li {
    color: black;
}
[id^=buttonPhoto] {
    z-index: 1;
    position:absolute;

}
#deleteProductButton {

    float:right;

}
#gallery {

    display: inline-block;

}
.sort {
    display: inline-block;
}
.mainPhoto {

    -webkit-box-shadow:0 0 20px blue;
    -moz-box-shadow: 0 0 20px blue;
    box-shadow:0 0 20px blue;

}

.priceColumn {
    color: forestgreen;
}

#cart {
    position: absolute;
    right:10px;
}

